body{
    background: #fafafa;
    font-family: Arial, Helvetica, sans-serif;    
}
.corpo_pagina .menu-navigation-icons {
    position: fixed;   
    text-align: center;  
    width: 136px;   
 
}
.corpo_pagina{
    width: 1100px;
    margin-left: 20%;   
    height: auto;  
}
.corpo_pagina .menu{
    width: 136px;
    margin: 5px;
}
.corpo_pagina .menu-navigation-icons a { 
    display: block;
    background: #fff;
    color: #000000;
    padding-top: 9%;  
    font-size: 12px;      
   /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06);*/
    border: 1px solid #e6e6e6;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    align-items: center;    
    width: 136px;
    height: 109px;
}

.corpo_pagina .menu-navigation-icons a:hover{
    opacity:0.92;
    background-color: #ecebebad;
}

.corpo_pagina .menu-navigation-icons a i {
    display: block;    
}

.corpo_pagina .menu-navigation-icons span {
    display: block;  
    margin-top: 10%;  
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.corpo_pagina .menu-navigation-icons .notas{
    height: 55px;
}

.corpo_pagina .menu-navigation-icons .aulas{
    height: 55px;
}
.corpo_pagina .menu-navigation-icons .person{
    height: 55px;
}
.corpo_pagina .menu-navigation-icons .escola_icon{
    height: 55px;
}

.corpo_pagina .calendario table{
    border: 1px solid black;
    margin: auto;
}
.corpo_pagina .calendario table td{
    text-align: center;
    border: 1px solid black;
   
}
@media(max-width:600px)and (min-width:300px)
    {
    .corpo_pagina .menu  .menu-navigation-icons {
        display: none;
    }
    .corpo_pagina{
        height: auto;
        width: auto;
        margin: auto;
        margin: 0px;        
    }
}

@media(min-width:700px) and (max-width:1024px){
    .corpo_pagina{
       margin-left: 0px;    
    }
    .corpo_pagina .tarefas{
        margin-right: 30px;
    }
}

/*parte de tarefas da pagina*/
.corpo_pagina .tarefas{
    display: block;
    height: auto;
    width: auto;
    float:right;
    top: 0%;
    margin-top: 0%;
}
.corpo_pagina .tarefas ul li{
    color: #000000;
    margin: 5px;
    text-align: center;
    border: 1px solid #c6c6c6;
    background: #fff;
    height: auto;
    width: 200px;
    border-radius:3px;
    list-style: none;
    padding: 10px;
}
