@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');


  .backLogin {
    position: absolute;
    background-image:  url('../../assets/fundo_login.jpg');
    width: 100%;
    height: 937px;
    background-size: contain;
    min-height: 600px;
  }
  
  #logoLogin{
    position: relative;
    top: -40px;
    background-image: url('../../assets/FaminSchool.png');
    width: 300px;
    height: 150px;
    background-size: cover;
  }

  .contentAluno {
    position: relative;
    margin: auto;
    width: 30%;
    height: 640px;
    background: #fff;
    opacity: 0.97;
    margin-top: 8%;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 1px 1px 10px #545454;
    min-width: 300px;
    min-height: 400px;
  }
  
  .contentAluno > p {
    font-family: 'Allura', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    border: 0px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 1px;
  }
  
  .contentAluno form{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    animation-name: moverForm;
    animation-duration: 0.2s;
  }
  
  .contentAluno form input:nth-child(1){
    position: relative;
    top: -15px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 2px;
    height: 45px;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    border-bottom: solid 1px #2CDBC7;
    animation-name:moverInput;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
   }

   .contentAluno form input:nth-child(2){
    animation-name:moverInput;
    animation-duration: 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
   }
  
  .contentAluno button.btnConfirmar{
    border: 0;
    border-radius: 1px solid #2CDBC7;
    width:100%;
    height: 32px;
    margin-top: 120px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(5, 236, 209);
    color: #545454;
    cursor: pointer;
    animation-name:moverInput;
    animation-duration: 400ms;
    animation-delay: 200ms;
    animation-fill-mode: backwards;

  }
  
  .contentAluno button.btnRecuperarSenha{
    position: relative;
    left: 35%;
    bottom: 130px;
    text-align: center;
    border: 0;
    width: 40%;
    height: 42px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: #545454;
    cursor: pointer;
    animation-name:moverInput;
    animation-duration: 400ms;
    animation-delay: 350ms;
    animation-fill-mode: backwards;

  }
  .btnSenha:hover{
    text-decoration: underline;
  }

  .contentAluno button.btnLinkCriarConta{
    position: relative;
    width: 100%;
    top: -20px;
    border: 1px solid #4D51C0 ;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #4D51C0;
    cursor: pointer;
  }
  
  .contentAluno button.btnProfessor:hover{
    background: #2CDBC7;
    font-size: 21px;
  }
  .btnLinkCriarConta:hover{
    font-size: 21px;
  }

  .acessos{
    list-style: none;
  }

  .acessos li{
    display: block;
    flex-direction: row;
  }

  .btnLink{
    position: relative;
    top: -30px;
    border: 0;
    width: 24%;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(5, 236, 209);
    color: #545454;
    cursor: pointer;
    margin: 0 2px;
    min-width: 95px;
  }

  .btnLinkAluno{
    position: relative;
    top: -30px;
    border: 0;
    width: 24%;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    background: #545454;
    color:#fff;
    cursor: pointer;
    margin: 0 2px;
    margin-top: 20px;
    margin-bottom: 30px;
    min-width: 95px;
  }

  .btnLink:hover{
    background: #545454;
    color:#fff;
  }

  #escolha{
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    text-align: left;  
    left: -12px;  
  }

  /* Animações*/

  @keyframes moverForm {
    from{
      opacity: 0;
      transform: scale(0.9);
    }to{
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes moverInput {
    from{
      opacity: 0;
      transform: translateX(-35%);
    }to{
      opacity: 1;
      transform: translateX(0%);
    }
  }
