@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');
  
  .contenteAluno {
    position: relative;
    left: 30%;
    width: 40%;
    background: #fde277;
    margin-top: 10%;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 1px 1px 10px #545454;
  }
  
  .contenteAluno > p {
    font-family: 'Allura', Arial, Helvetica, sans-serif;
    font-size: 42px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .contenteAluno form{
    display: flex;
    flex-direction: column;
  }
  
  .contenteAluno form input{
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
  }
  
  .contenteAluno button.btn{
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    color: #545454;
    cursor: pointer;
  }
  
  .contenteAluno button.btnSenha{
    position: relative;
    left: 60%;
    top: 10px;
    text-align: center;
    border: 0;
    width: 40%;
    height: 42px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: #545454;
    cursor: pointer;
  }

  .btnRegistrar{
    position: relative;
    top: -350px;
    left: -40px; 
    border: 0;
    border-radius: 2px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #545454;
    cursor: pointer;
  }
  
  .contenteAluno button.btn:hover{
    background: #ddd;
  }