body{
    background: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1550px;   
    
}
.corpo_pagina .menu-navigation-icons {
    position: fixed;  
    margin-top: 5px; 
    text-align: center;  
    width: 230px;
}
.corpo_pagina{      
    margin-top: 1%;
    width: 80%;
    margin-left:17% ;      
    
}

.corpo_pagina .menu-navigation-icons a { 
    display: block;
    background: #fafafa;
    color: #000000;
    padding-top: 9%;  
    font-size: 12px;      
   /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06);*/
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;        
    width: 100%;
    height: 50px;
}

.corpo_pagina .menu-navigation-icons a:hover{
    opacity:0.92;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.corpo_pagina .menu-navigation-icons a img {
    /*display:inline-block;    */
    height: 20px;
    float: left;
    margin-right: 15%;   
    margin-left: 10%;    
    margin-top:-2%;
    background-size:cover ;
}

.corpo_pagina .posts li h5{
   padding-left:2%;
   padding-right:2%;
   margin-top:1%;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   font-size: 15px;
   margin-bottom:1%;
}
.corpo_pagina .posts li span{
    padding-left:2%;
    padding-right:2%;
    margin-top:1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    float: right;
    margin-bottom:1%;
 }
.corpo_pagina .menu-navigation-icons span {
    display: inline-block;    
   
    font-size: 12px;
    font-weight: bold;
    float: left;
   
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   
}
.corpo_pagina .posts{  
    width: auto;   
    margin-left:17%;
    color: #fff;    
    margin-bottom: 2%; 
}
/*Criando parte que será responsavel por cada estilo de post do usuario*/
.corpo_pagina .posts .feed_post{
    position: relative;
    width: 57%;
    margin-left: 2%;
    
    
}
.corpo_pagina .posts .feed_post img{    
    display: block;
    margin: auto;
    height: 600px;
    width: 100%;   
    margin-right: 10px;
    background-size: cover;
    
}
.corpo_pagina .posts .feed_post li{
    background-color: #fff;  
    color: #000000;
    border-radius: 3px;
    border: 1px solid #c6c6c6; 
    display: inline-block;
    margin: auto;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 2px  #e0e0e0fb;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    list-style: none;
    margin-bottom: 2%;
}


/*parte de tarefas da pagina*/
.corpo_pagina .tarefas{
    position: relative;
    display: block;
    height: auto;
    float: right;
    margin-right: 14%;    
    width: 10%;
    right: 7%;
    margin-top: 0%;
    min-width: 100px;
      
}
.corpo_pagina .tarefas ul li{
    color: #000000;
    margin: 5px;
    text-align: center;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 0px 2px  #e0e0e0fb;
    background: #fff;
    height: auto;
    width: 90%;
    border-radius:3px;
    list-style: none;
    padding: 10px;
}

@media(max-width:600px)and (min-width:300px)
    {
    .corpo_pagina .menu  .menu-navigation-icons {
        display: none;
    }
    .corpo_pagina{
        height: auto;
        width: auto;
        margin: auto;
        margin: 0px;        
    }
    .corpo_pagina .posts{        
        margin: auto;
        width: 100%;      

    }
      
    .corpo_pagina .posts .feed_post{
        position: relative;
        height: auto;
        width: 100%;
        margin-left:auto;
    }
    .corpo_pagina .posts .feed_post li{
        position: relative;
        height: auto;
        width: 100%;
        margin-left:0 ;
    }
}

@media(max-width:1100px){    
        .corpo_pagina .menu  .menu-navigation-icons {
            display: none;
        }
        .corpo_pagina .tarefas{
            display: none;
        }
        .corpo_pagina{
            height: auto;
            width: auto;
            margin: auto;
            margin: 0px;        
        }
        .corpo_pagina .posts{        
            margin: auto;
            width: 100%;         
        }          
        .corpo_pagina .posts .feed_post{        
           margin-top:0%;
            height: auto;
            width: 100%;
            margin: auto;            
        }
       
        .corpo_pagina .posts .feed_post li{
            position: relative;
            height: auto;
            width: 100%;
            margin-left:0;
        }
    body{             
        min-width: 0px;
    }  
}



