
.contente{
    min-width: 450px;
    width: 80%;
    margin: 20px auto;
}

.contente .acessos{
    position: relative;
    left: 35%;
    background: #fff;
    width: 65%;
    height: 570px;
    background-size: cover;
}

.contente .acessos li{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.contente .acessos li .btnLink{
    position: relative;
    top: 140px;
    border: 0;
    padding: 0 200px 20px;
    font-size: 40px;
    font-weight: bold;
    background: transparent;
    color: #545454;
    cursor: pointer;
}

.contente .acessos li .btnLink:hover{
    text-decoration: underline #545454;
  }

.contente .btnRegistro{
    position: relative;
    left: 10%;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #545454;
    cursor: pointer;
  }

  
  .contente .btnRegistro:hover{
    text-decoration: underline #545454;
  }

  .contente > p{
      position: relative;
      top: 200px;
    font-size: 20px;
    font-weight: bold;
    color: #545454;
  }