@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');


  
.contentImg {
  background-image: url('../../assets/background.png');
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
  width: 900px;
  height: 1000px;
 
}
  .contentResponsavel {
    position: relative;
    left: 40%;
    width: 52.73%;
    height: 1000px;
    bottom: 1190px;
    left: 900px;
    background: whitesmoke;  
    margin-top: 10%;  
    padding: 30px;
  }
  
  .contentResponsavel> p {
    font-family: 'Allura', Arial, Helvetica, sans-serif;
    font-size: 42px;
    line-height: 100px;
    margin-bottom: 30px;
    color: #2CDBC7;
  }
  
  .contentResponsavel form{
    display: flex;
    flex-direction: column;
  }
  
  .contentResponsavel form input{
    margin-left: 160px;
    width: 600px;
    margin-top: 150px;
    text-align: justify;
    margin-bottom: -120px;
    border: none; /*Retira as bordas do input*/
    border-bottom: solid 3px  #2CDBC7; /*Coloca borda somente na parte de baixo*/
    height: 32px;
    font-size: 15px;
    color: Black;
    background: whitesmoke;
  }

  ::placeholder {
    color: Black;
  }
  .contentResponsavel button.btnResponsavel{
     position: relative;
    top: 330px;
    left: 170px; 
    width: 600px;
    height: 32px;
    border: 1px solid #2CDBC7;
    border-radius: 10px;
    background: #2CDBC7;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    opacity: 1;
  }
  
  .contentResponsavel button.btnSenhaResponsavel{
    position: relative;
    left: 63.4%;
    top: 170px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    width: 20%;
    height: 42px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: black;
    cursor: pointer;
  }

  .btnRegistroResponsavel{
    position: relative;
    top: 330px;
    left: 170px; 
    width: 600px;
    height: 32px;
    border: 1px solid #4D51C0;
    border-radius: 10px;
    background: White;
    font-size: 20px;
    font-weight: bold;
    color: #4D51C0;
    cursor: pointer;
    opacity: 1;
  }
  

  .contentResponsavel button.btnResponsavel:hover{
    color: #4D51C0;
    background: whitesmoke;
    border: 1px solid whitesmoke;
  }
  .contentResponsavel button.btnSenhaResponsavel:hover{
    color: #2CDBC7;
    background: whitesmoke;
}
  .contentResponsavel button.btnRegistroResponsavel:hover{
    color: #2CDBC7;
    background: white;
  }