@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');


  .backLogin {
    position: absolute;
    background-image:  url('../../assets/fundo_login.jpg');
    width: 100%;
    height: 937px;
    background-size: contain;
    min-height: 600px;
  }
  
  #logoLogin{
    position: relative;
    top: -40px;
    background-image: url('../../assets/FaminSchool.png');
    width: 300px;
    height: 150px;
    background-size: cover;
  }

  .contentCriarConta {
    position: relative;
    margin: auto;
    width: 80%;
    height: 640px;
    background: #fff;
    opacity: 0.97;
    margin-top: 8%;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 1px 1px 10px #545454;
    min-width: 300px;
    min-height: 400px;
  }
  
  .contentCriarConta > p {
    font-family: 'Allura', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    padding: 1em;
    border: 1px solid #2CDBC7;
    border-radius: 1em;
    margin-bottom: 20px;
    height: 45px;
    font-size: 16px;
    line-height: 1px;
  }
  
  .contentCriarConta form{
    display: grid;
    flex-direction: column;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px; 

  }
  
  .contentCriarConta form input{
    position: relative;
    width: 595px;
    top: -15px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 2px;
    height: 35px;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    border: solid 1px #2CDBC7;  
  }
  
  .contentCriarConta button.btnCriar{
    border: 0;
    border-radius: 1px solid #2CDBC7;
    width:100%;
    height: 32px;
    margin-top: 80px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(5, 236, 209);
    color: #545454;
    cursor: pointer;
  }
  
  .contentCriarConta button.btnVoltar{
    position: relative;
    left: 33.6%;
    top: 80px;
    text-align: center;
    border: 0;
    width: 40%;
    height: 42px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: #545454;
    cursor: pointer;    
  }
  .btnVoltar:hover{
    text-decoration: underline;
  }
  
  .contentCriarConta button.btnCriarConta:hover{
    background: #2CDBC7;
    font-size: 21px;
  }
  .contentCriarConta button.btnCriarConta:hover{
    font-size: 21px;
  }

  .acessos{
    list-style: none;
  }

  .acessos li{
    display: block;
    flex-direction: row;
  }

  .btnLink{
    position: relative;
    top: -30px;
    border: 0;
    width: 24%;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(5, 236, 209);
    color: #545454;
    cursor: pointer;
    margin: 0 2px;
    min-width: 95px;
  }

  .btnLinkAluno{
    position: relative;
    top: -30px;
    border: 0;
    width: 24%;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    background: #545454;
    color:#fff;
    cursor: pointer;
    margin: 0 2px;
    margin-top: 20px;
    margin-bottom: 30px;
    min-width: 95px;
  }

  .btnLink:hover{
    background: #545454;
    color:#fff;
  }

  #escolha{
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    text-align: left;  
    left: -12px;  
  }